@charset "UTF-8";
:root{
	--blk:      hsl(  0,  0%,85%);
	--UIRugx:   hsl(320,100%,50%);
	--UIRugxLim:hsl(325,100%,50%);
}
*{box-sizing:border-box;}
::webkit-scrollbar{width:8px;height:8px;}
::webkit-scrollbar-corner{display:none;}
::webkit-scrollbar-thumb{background:hsl(120,90%,15%);border-radius:3px;}
/*全體*/
body,textarea{background:#000;color:var(--blk);}
body{font:16px/1.8 'Gentium Plus','Noto Serif','教育部標準宋體','Noto Serif CJK JP','IPAex明朝','KoPubWorld Batang Pro',serif;}
h2,h3{border-bottom:ridge 5px hsl(0,0%,85%);}
a:link   {color:hsl(60,100%,50%);}
a:visited{color:hsl(30,100%,50%);}
/*篇目*/
.toc ol{list-style:none;}
/*清單*/
li>p{margin:0;}
/*表格*/
table{border-top:solid 1px;border-bottom:solid 1px;}
table.rkapo{border-top:none;}
table.rkapo thead{background:hsl(0,60%,20%);}
table.remburo td{padding:0 1em;}
table.nowrap caption,
table.nowrap th,
table.nowrap td{white-space:nowrap;}
tr.ns{border-top:solid 1px;}
/*控制*/
input[type='search'],
input[type='button'],
.butono{
	background:var(--UIRugx);color:#fff;
	height:32px;
	border:outset 3px var(--UIRugxLim);border-radius:8px;
}
a.butono{color:#fff;text-decoration:none;}
input[type='search']{
	padding:1px 4px;
	font:16px/1 'Gentium Plus','教育部標準宋體','IPAex明朝','Ezra SIL','Noto Naskh Arabic',serif;
}
input[type='button'],.butono{
	padding-block:1px;padding-inline:6px;
	font:16px/1 '教育部標準宋體',serif;
}
/*其他*/
.margxeno{width:100%;height:5em;}
.skatolo{margin:10px;border:solid 2px;padding:5px;}
strong{text-decoration:underline;}

/*語言*/
@font-face{/*4,115KB*/
	font-family:'IPAex明朝';font-display:'swap';
	src:url('../tiparoj/CJK/ipaexm.woff2') format('woff2');
}
@font-face{/*3.198KB*/
	font-family:'KoPubWorld Batang Pro';font-display:'swap';
	src:url('../tiparoj/CJK/KoPubWorld_Batang_Pro_Medium.woff2') format('woff2');
}
@font-face{/*162KB*/
	font-family:'Noto Serif';font-display:'swap';
	src:url('../tiparoj/GCL/NotoSerif-Regular.woff2') format('woff2');
}
@font-face{/*177KB*/
	font-family:'Noto Nastaliq Urdu';font-display:'swap';
	src:url('../tiparoj/Arab/NotoNastaliqUrdu-Regular.woff2') format('woff2');
}
@font-face{/*73KB*/
	font-family:'Noto Naskh Arabic';font-display:'swap';
	src:url('../tiparoj/Arab/NotoNaskhArabic-Regular.woff2') format('woff2');
}
@font-face{/*135KB*/
	font-family:'Doolittle Garamond';font-display:'swap';
	src:url('../tiparoj/DoolittleGaramond-Italic.woff2') format('woff2');
}
.Arab,.ar{font:24px/1.5 'Noto Naskh Arabic',serif;}
.Aran,.fa{font:24px/2.0 'Noto Nastaliq Urdu',serif;padding:0 .2em;}
.Hant,.zh{font:16px/1.8 'Gentium Plus','Noto Serif','教育部標準宋體',serif;}
.Jpan,.ja{font:16px/1.8 'Gentium Plus','Noto Serif','IPAex明朝','KoPubWorld Batang Pro',serif;}
.Kore,.ko{font:16px/1.8 'KoPubWorld Batang Pro',serif;}
.Shaw,.en{font:24px/1.0 'Doolittle Garamond',serif;}
.grande{font-size:24px;}
.grande.Arab,
.grande.Aran,
.grande.Shaw{font-size:36px;}
