@charset 'utf-8';
:root{
	--blk:      hsl(  0,  0%,85%);
	--griz:		hsl(  0,  0%,50%);
	--UIRugx:   hsl(320,100%,50%);
	--UIRugxLim:hsl(325,100%,50%);
	--UIVerd:   hsl(120, 90%,15%);
}
*{box-sizing:border-box;}
::-webkit-scrollbar{width:16px;height:16px;}
::-webkit-scrollbar-corner{display:none;}
::-webkit-scrollbar-thumb{border-radius:5px;}
/*全體*/
body{font:16px/1.8 'Gentium Plus','Noto Serif','教育部標準宋體','Noto Serif CJK JP','IPAex明朝','KoPubWorld Batang Pro',serif;}
html[lang='zh-TW'] body{font:16px/1.8 'Gentium Plus','Noto Serif','教育部標準宋體',serif;}
html[lang='ja'] body{font:16px/1.8 'Gentium Plus','Noto Serif','Noto Serif CJK JP','IPAex明朝','KoPubWorld Batang Pro',serif;}
h2,h3{border-bottom:ridge 5px hsl(0,0%,85%);}
/*篇目*/
.toc ol{list-style:none;}
/*清單*/
li>p{margin:0;}
/*表格*/
div.scrWrap{margin:16px 0;}
table{border-top:solid 1px;border-bottom:solid 1px;border-collapse:collapse;}
table td{padding:0 4px;}
table.nowrap{& caption,& th,& td{white-space:nowrap;}}
table.remburo td{padding:0 16px;}
table.senlima{border:none;}
table.tdCntr{& th,& td{text-align:center;}}
tr.ns{border-top:solid 1px;}
table[frame='none']{border:none;}
table[frame='all']{border:none;& thead,& tbody{border:solid 1px var(--griz);}}
table[frame='ends'],table[frame='sides']{
	border:none;
	& thead,tbody{border-width:1px;border-color:var(--griz);}
}
table[frame='ends']{
	& thead{border-style:solid none none;}
	& tbody{border-style:solid none;}
	& thead+tbody{border-top:none;}
	&.rkapo{thead,tbody{border-top:none;}}
}
table[frame='sides']{& thead,& tbody{border-style:none solid;}}
table[grid='none']{& th,& td{border:none;}}
table[grid='all'],table[grid='rows'],table[grid='cols']{& th,& td{
	border-width:1px;border-color:var(--griz);
	&:nth-child(1){border-left:none;}
	&:last-child{border-right:none;}
}}
table[grid='all']{& th,& td{border-style:solid;}}
table[grid='rows']{& th,& td{border-style:solid none;}}
table[grid='cols']{& th,& td{border-style:none solid;}}
/*控制*/
input[type='search'],
input[type='button'],
.butono{height:32px;border-radius:8px;}
a.butono{display:inline-block;padding:4px 6px;text-decoration:none;}
a.allasupro{
	position:fixed;bottom:15px;right:15px;height:55px;
	border:outset 3px;border-radius:40%;padding:8px 8px 0;
}
a.allasupro>img{width:35px;height:35px;}
input[type='search']{
	padding:1px 4px;
	font:16px/1 'Gentium Plus','教育部標準宋體','IPAex明朝','Ezra SIL','Noto Naskh Arabic',serif;
}
input[type='button'],.butono{
	font:16px/1 '教育部標準宋體','Noto Serif CJK TC','Noto Serif Traditional Chinese',serif;
}
/*其他*/
.centre{text-align:center;}
.dekstre{text-align:right;}
.maldekstre{text-align:left;}
.margxeno{width:100%;height:5em;}
.skatolo{margin:10px;border:solid 2px;padding:5px;}
hr{margin:32px 0;}
strong{text-decoration:underline;}
a:link,a:visited,u,strong{text-underline-offset:.4em;}
/*顏色*/
::-webkit-scrollbar-thumb{background:var(--UIVerd);}
body,textarea{background:#000;color:var(--blk);}
a:link   {color:hsl(60,100%,50%);}
a:visited{color:hsl(30,100%,50%);}
a.x:link,a.x:visited{color:hsl(90,100%,50%);}
.rkl{color:hsl(330,100%,53%);}
.vkl{color:hsl(120,100%,50%);}
table.rkapo{
	border-top:none;
	& thead,& th{background:hsl(0,60%,20%);}
}
a:link.butono,a:visited.butono{color:#fff;}
a.allasupro{background:hsl(0,0%,60%);border-color:hsl(325,100%,50%);}
input[type='search'],
input[type='button'],
.butono{background:var(--UIRugx);color:#fff;border:outset 3px var(--UIRugxLim);}
/*語言*/
/*中日韓*/
@font-face{/*4,115KB*/
	font-family:'IPAex明朝';font-display:'swap';
	src:url('../tiparoj/CJK/ipaexm.woff2') format('woff2');
}
@font-face{/*3,198KB*/
	font-family:'KoPubWorld Batang Pro';font-display:'swap';
	src:url('../tiparoj/CJK/KoPubWorld_Batang_Pro_Medium.woff2') format('woff2');
}
/*GCL*/
@font-face{/*162KB*/
	font-family:'Noto Serif';font-display:'swap';
	src:url('../tiparoj/GCL/NotoSerif-Regular.woff2') format('woff2');
	font-style:normal;
}
@font-face{/*179KB*/
	font-family:'Noto Serif';font-display:'swap';
	src:url('../tiparoj/GCL/NotoSerif-Italic.woff2') format('woff2');
	font-style:italic;
}
@font-face{/*28KB*/
	font-family:'Julia Mono';font-display:'swap';
	src:url('../tiparoj/GCL/JuliaMono-RegularLatin.woff2') format('woff2');
}
@font-face{/*271KB*/
	font-family:'Euler Math';font-display:'swap';
	src:url('../tiparoj/GCL/Euler-Math.woff2') format('woff2');
}
/*Arab,Aran*/
@font-face{/*177KB*/
	font-family:'Noto Nastaliq Urdu';font-display:'swap';
	src:url('../tiparoj/Arab/NotoNastaliqUrdu-Regular.woff2') format('woff2');
}
@font-face{/*73KB*/
	font-family:'Noto Naskh Arabic';font-display:'swap';
	src:url('../tiparoj/Arab/NotoNaskhArabic-Regular.woff2') format('woff2');
}
/*Shaw*/
@font-face{/*135KB*/
	font-family:'Doolittle Garamond';font-display:'swap';
	src:url('../tiparoj/DoolittleGaramond-Italic.woff2') format('woff2');
}
/*Tang*/
@font-face{/*2.69MB*/
	font-family:'Tangut Yinchuan';font-display:'swap';
	src:url('../tiparoj/TangutYinchuan.woff2') format('woff2');
}
/*Yiii*/
@font-face{/*135KB*/
	font-family:'Noto Sans Yi';font-display:'swap';
	src:url('../tiparoj/NotoSansYi-Regular.woff2') format('woff2');
}
.Arab,.ar{font:24px/1.5 'Noto Naskh Arabic',serif;}
.Aran,.fa{font:24px/2.0 'Noto Nastaliq Urdu',serif;padding:0 .2em;}
.Hant,.zh{font:16px/1.8 'Gentium Plus','Noto Serif','教育部標準宋體',serif;}
.Jpan,.ja{font:16px/1.8 'Gentium Plus','Noto Serif','IPAex明朝','KoPubWorld Batang Pro',serif;}
.Kore,.ko{font:16px/1.8 'KoPubWorld Batang Pro',serif;}
.Latn,.en-Latn{font:16px/1.8 'Gentium Plus','Noto Serif',serif;}
.Shaw,.en{font:24px/1.0 'Doolittle Garamond',serif;}
.Tang,.txg{font:36px/1.5 'Tangut Yinchuan','Tangut N4694','Noto Serif Tangut',serif;}
.Yiii,.ii{font:36px/1.5 'Noto Sans Yi';}
.Zmth{font:16px/1.8 'Euler Math','Noto Serif',serif;}
.unuspaca,
html[lang='ja'] body.unuspaca{font:16px/1.8 'Julia Mono',monospace;}
.grande{font-size:24px;
	&.Arab,
	&.Aran,
	&.Shaw{font-size:36px;}
	&.Tang,
	&.Yiii{font-size:48px;}
}
