@charset "UTF-8";
:root{
  --blk:      hsl(  0,  0%,85%);
  --UIRugx:   hsl(320,100%,50%);
  --UIRugxLim:hsl(325,100%,50%);
}
*{box-sizing:border-box;}
::webkit-scrollbar{width:8px;height:8px;}
::webkit-scrollbar-corner{display:none;}
::webkit-scrollbar-thumb{background:hsl(120,90%,15%);border-radius:3px;}
body,textarea{background:#000;color:var(--blk);font-size:16px;font-family:serif;}
a:link   {color:hsl(60,100%,50%);}
a:visited{color:hsl(30,100%,50%);}
a.butono{color:#fff;text-decoration:none;}
input,.butono{
  background:var(--UIRugx);color:#fff;
  height:32px;
  border:outset 3px var(--UIRugxLim);border-radius:8px;
}
input[type='search']{
  padding:1px 4px;
  font:16px/1 'Gentium Plus','教育部標準宋體','IPAex明朝','Ezra SIL','Noto Naskh Arabic',serif;
}
input[type='button'],.butono{
  padding-block:1px;padding-inline:6px;
  font:16px/1 '教育部標準宋體',serif;
}
.margxeno{width:100%;height:5em;}
/*言語*/
@font-face{
  font-family:'KoPubWorld Batang Pro';
  src:url('tiparoj/CJK/KoPubWorld Batang_Pro Medium.woff2') format('woff2');
  font-display:'swap';
}
.Kore,  .ko{font:16px/1.8 'KoPubWorld Batang Pro',serif;}
