@charset('UTF-8');
body{text-align:center;&.hr>main{padding-bottom:5em;}}
.sceno{
	& a.butono,
	& input[type='button'],
	& button
	{display:inline-block;height:3em;margin:.5em;padding:.5em 2em;
	background:#f0a;color:#fff;border:outset 3px hsl(320,100%,50%);border-radius:8px;cursor:pointer;
	font:16px 'Noto Serif','IPAex明朝',serif;}
	& a.butono{padding-top:.5em;}
	& .Tang.grande{font-size:80px;padding:20px;}
	& .enir{
		width:8em;max-width:100%;
		background:hsl(165,100%,20%);border-color:hsl(180,100%,50%);border-radius:8px;
		color:#fff;
		font:48px 'IPAex明朝','Tangut Yinchuan',serif;text-align:center;
	}
}
#ordinalo_pre,
#tempatako_pre,
#ordinalo,
#tempatako,
#rezulto{display:none;}
