@charset "UTF-8";
h1{margin:0;padding-right:75px;}
#lingj{
	position:absolute;top:15px;right:15px;z-index:10;text-align:right;
	font-size:25px;
	&>img{width:25px;height:25px;border:solid 15px hsl(0,0%,40%);border-radius:5px;background:hsl(0,0%,40%);}
	&>#lingmenu{display:none;width:200px;text-align:left;
		margin:0;border-radius:5px;padding:12px;background:hsl(0,0%,40%);
		list-style:none;
		&>li>a{display:block;color:#fff;text-decoration:none;}
	}
	&:hover{&>#lingmenu{display:block;}}
}
div.formo{
	display:flex;flex-wrap:wrap;
	& select{font-size:12px;}
	& p{margin:0;}
}
div#montri{
	width:100%;
	& table{
		margin-bottom:2em;max-width:95vw;
		display:block;overflow:scroll;scrollbar-width:none;
		& tr:nth-child(2n+1){background:hsl(0,0%,10%);}
		& th,& td{padding:0 5px;}
		& td:nth-child(-n+3){padding:0 10px;}
		& td:nth-child(4){text-align:center;}
		& button.det{
			background:hsl(330,100%,15%);border-color:hsl(335,100%,25%);
			font-size:12px;
		}
		& a.wtligo{
			background:hsl(40,100%,15%);padding:1px 6px;
			border:3px outset hsl(45,100%,25%);border-radius:8px;
			color:hsl(0,0%,85%);font-size:12px;text-decoration:none;
		}
	}
}
div#detalvolvo{
	position:fixed;z-index:1;top:10px;left:10px;
	width:95vw;max-width:500px;height:90vh;
	overflow:scroll;background:hsl(240,20%,10%);
	scrollbar-width:none;
	display:none;
	& h2.ja{margin:0;background:hsl(240,10%,10%);text-align:center;font-size:24px;}
	& table{
		width:100%;overflow:scroll;
		& caption{background:hsl(30,100%,15%);}
		& th{text-align:left;white-space:nowrap;vertical-align:top;}
	}
}
footer{position:fixed;bottom:10px;left:10px;}
